/*!*********************************************************************************************************************!*\
  !*** css ../../node_modules/css-loader/dist/cjs.js!../../node_modules/sass-loader/dist/cjs.js!./styles/global.scss ***!
  \*********************************************************************************************************************/
:root {
  --gjs-font-color: #112a46;
  --gjs-main-light-color: #fafafa;
}

body {
  /*** Asset Manager ***/
  /*** Colors ***/
  /*** RTE toolbar ***/
}
body .gjs-am-file-uploader {
  display: none;
}
body .gjs-am-assets-cont {
  width: 100%;
  height: 500px;
}
body .gjs-am-assets {
  height: 460px;
}
body .gjs-am-preview-cont {
  height: auto;
  aspect-ratio: 16/9;
}
body .gjs-am-preview {
  background-size: contain;
}
body .gjs-one-bg {
  background-color: #ddd;
}
body .gjs-three-bg {
  background-color: #52b6ca;
}
body .gjs-two-color {
  color: #112a46;
}
body .gjs-four-color {
  color: #52b6ca;
}
body .gjs-four-color-h:hover {
  color: #52b6ca;
}
body .gjs-color-warn {
  color: #ffa100;
  fill: #ffa100;
}
body .gjs-rte-toolbar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.44);
  border-radius: 3px;
}
body .gjs-rte-action {
  font-size: 1rem;
  border-right: none;
  padding: 10px;
  min-width: 35px;
}
body .gjs-rte-actionbar {
  max-width: 525px;
  flex-wrap: wrap;
}
body .rte-hilite-btn {
  padding: 3px 6px;
  border-radius: 3px;
  background: rgba(210, 120, 201, 0.3);
}

/* Custom navbar */
.sulu-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #29354f;
  border-bottom: 1px solid #29354f;
  color: #f5f5f5;
  font-weight: bold;
  font-family: inherit;
  line-height: 1.15;
  height: 73px;
}
.sulu-navbar span {
  color: #f5f5f5;
}
.sulu-navbar button {
  border: 1px solid #ededed;
  cursor: pointer;
  display: block;
  font-size: 12px;
  height: 40px;
  min-width: 120px;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  color: #112a46;
  background-color: #fafafa;
}
.sulu-navbar button:hover {
  background-color: #f5f5f5;
  color: #52b6ca;
}
.sulu-navbar button:disabled {
  cursor: not-allowed;
  background-color: light-dark(rgba(239, 239, 239, 0.3), rgba(19, 1, 1, 0.3));
  color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  border-color: light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}
.sulu-navbar .sulu-navbar-btn-group {
  display: flex;
  gap: 1rem;
}
